<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Nova operação</h2>
        </div>
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <%= form_for @account_operation do |f| %>
            <%= render "form", f: f %>
            <% end %>
        </div>
    </div>
</div>