<p>
  <strong>Value:</strong>
  <%= @account_operation.value %>
</p>

<p>
  <strong>Date operation:</strong>
  <%= @account_operation.created_at %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @account_operation.operation %>
</p>

<%= link_to 'Voltar', account_operations_path %>
