 @import "bootstrap-sprockets";
 @import "bootstrap";

 select {
   width: 30%;
   padding: 6px 12px;
   font-size: 14px;
   color: #555555;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-right: 10px;
   margin-bottom: 5px;
}

