<div class="jumbotron">
    <h2>Nome: <%= @account.name %></h2>
    <h2>Data de Nascimento: <%= @account.birth_date %></h2>
    <h2>Conta: <%= @account.account_number %></h2>
    <h2>Senha: <%= @account.password %></h2>
</div>